---
layout: null
---

{% include css/normalize.css %}
{% include css/highlight.css %}

/* Base */
/* ----------------------------------------------------------*/

html {
  font-size: 62.5%;
  overflow-y: scroll;
}

body {
  /* font-family: Helvetica, Arial, sans-serif; */
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 300;
  background-color: #fdfdfd;
  padding: 0;
  margin: 0;
}

a:link,
a:visited {
  color: #2a7ae2;
  text-decoration: none;
}
a:hover {
  color: #000;
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

/* Layout Styles */
/* ----------------------------------------------------------*/

body > main {
  max-width: 80rem;
  padding: 3rem;
  margin: 0 auto;
}

.module-header {
  font-size: 2.4rem;
  color: {{ site.theme_color }};
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

ol.module-chapter-list {
  color: #333;
  display: block;
  list-style: none;
  padding: 0;
  margin: 0 0 1rem 0;
  font-size: 1.8rem;
}
ol.module-chapter-list li {
  border-bottom: 1px solid #ccc;
  padding: 0.5rem 1.5rem 0.3rem 1.5rem;
}
ol.module-chapter-list li:nth-child(odd) {
  background-color: #f7f6f1;
}
ol.module-chapter-list li h3 {
  font-size: inherit;
  padding: 0;
  margin: 0;
}
ol.module-chapter-list li .keywords {
  font-size: 1.6rem;
}

/* Site header */
/* ----------------------------------------------------------*/

.site-header {
  position: relative;
  border-bottom: 1px solid #e8e8e8;
  background-color: {{ site.theme_color }};
  padding: 1.5rem;
  text-align: center;
}

.site-title,
.site-title:hover,
.site-title:visited {
  display: inline-block;
  padding: 1rem;
  font-size: 2.6rem;
  line-height: 1.2em;
  letter-spacing: -0.1rem;
  color: #fff;
  font-weight: 100;
}

.site-link:link,
.site-link:hover,
.site-link:visited {
  margin-bottom: 1rem;
  display: inline-block;
  text-align: center;
  font-size: 1.8rem;
  line-height: 2em;
  height: 2em;
  padding: 0 1rem;
  color: #fff;
  border: 2px solid #fff;
  font-weight: 50;
}
@media (min-width: 1080px) {
  .site-link:link,
  .site-link:hover,
  .site-link:visited {
    position: absolute;
    right: 2rem;
    top: 50%;
    transform: translateY(-50%);
  }
}

/* Site footer */
/* ----------------------------------------------------------*/

.site-footer {
  border-top: 1px solid #e8e8e8;
  padding: 3rem 0;
}

.site-footer ul {
  list-style: none;
}

.site-footer li,
.site-footer p {
  font-size: 1.5rem;
  letter-spacing: -0.3rem;
  color: #828282;
}

.github-icon-svg,
.twitter-icon-svg {
  display: inline-block;
  width: 1.6rem;
  height: 1.6rem;
  position: relative;
  top: 0.3rem;
}

/* Custom CSS for pages */
/* ----------------------------------------------------------*/

.figcenter {
  text-align: center;
}
.fig img {
  max-width: 98%;
}
.figleft img {
  max-width: 50%;
  float: left;
  margin-right: 2rem;
}
.figleft svg {
  float: left;
  margin-right: 2rem;
}
.fighighlight {
  padding: 2rem 0.4rem 2rem 0.4rem;
  border-bottom: 1px solid #999;
  border-top: 1px solid #999;
}
.figcaption {
  font-weight: 400;
  font-size: 1.4rem;
  color: #575651;
  text-align: justify;
}

/* Post styles */
/* ----------------------------------------------------------*/

.post {
  margin: 0 0 3rem;
}

.post > * {
  margin: 2rem 0;
}

.post h1,
.post h2,
.post h3,
.post h4,
.post h5,
.post h6 {
  line-height: 1;
  font-weight: 300;
  margin: 4rem 0 2rem;
}

.post h1 {
  margin-top: 2rem;
  font-size: 3.6rem;
  letter-spacing: -1.2.5rem;
}

.post h2 {
  font-size: 3.2rem;
  letter-spacing: -1.2.5rem;
}

.post h3 {
  font-size: 2.6rem;
  letter-spacing: -0.1rem;
}

.post h4 {
  font-size: 2rem;
  letter-spacing: -0.1rem;
}

.post blockquote {
  border-left: 0.4rem solid #e8e8e8;
  padding-left: 2rem;
  font-size: 1.8rem;
  opacity: 0.6;
  letter-spacing: -0.1rem;
  font-style: italic;
  margin: 3rem 0;
}

.post ul,
.post ol {
  padding-left: 2rem;
}

.post pre,
.post code {
  background-color: #eef;
  border: 1px solid #d5d5e9;
  padding: 0.8rem 1.2rem;
  border-radius: 0.3rem;
  font-size: 1.5rem;
  overflow: auto;
}

.post code {
  padding: 0.1rem 0.5rem;
}

.post ul,
.post ol {
  margin-left: 1.35em;
}

.post pre code {
  border: 0;
  padding-right: 0;
  padding-left: 0;
}
