<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include header.html %}
    <main>{{ content }}</main>
    {% include footer.html %}

    <!-- MathJax -->
    <script
      type="text/javascript"
      src="//cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML"
    ></script>
    <script type="text/x-mathjax-config">
      // Make responsive
      MathJax.Hub.Config({
       "HTML-CSS": { linebreaks: { automatic: true } },
       "SVG": { linebreaks: { automatic: true } },

       tex2jax: {
          inlineMath: [['$','$'], ['\\(','\\)']],
          processEscapes: true
        },
        jax: ["input/TeX","input/MathML","input/AsciiMath","output/CommonHTML"],
        extensions: ["tex2jax.js","mml2jax.js","asciimath2jax.js","MathMenu.js","MathZoom.js","AssistiveMML.js"],
        TeX: {
          extensions: ["AMSmath.js","AMSsymbols.js","noErrors.js","noUndefined.js"],
          equationNumbers: {
            autoNumber: "AMS"
          }
        }
      });

    </script>

    <!-- Back to top button -->
    <script src="https://unpkg.com/vanilla-back-to-top@7.2.1/dist/vanilla-back-to-top.min.js"></script>
    <script>
      addBackToTop({
        backgroundColor: "{{ site.theme_color }}",
      });
    </script>
  </body>
</html>
